*{
    margin: 0;
    padding: 0;
    
}
body{
    background-color: lightgreen;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;


}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5vmin;
    justify-content: center;
    margin: 20px;

}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem;
    font-size: 8vmin;
    background-color: lightyellow;
}

#reset-btn{
    padding: 1rem;
    background-color: black;
    color: white;
    border: 2px solid black;
    box-shadow: 0 0 0.5rem black;
    border: none;
}

#new-button{
     padding: 1rem;
    background-color: rgb(211, 24, 24);
    color: white;
    border: 2px solid black;
    box-shadow: 0 0 0.5rem black;
    border: none;
}

#msg-win{

}